[user]
	name = Vincent Ceulemans
	email = deVinnnie@users.noreply.github.com
[gui]
	historybrowser = gitk
	editor = gvim
[diff]
	tool = meld

[alias]
	hist = log --oneline --decorate --graph
	h = log --oneline --decorate --graph
	st = status
	co = checkout

[cola]
	spellcheck = false

[color "diff"]
	whitespace = red reverse

[init]
	defaultBranch = master

[tig "bind"]
    # '>' == immediately reopen tig after command
    status = C >git commit
    status = A >git commit --amend
    # 'preview' an image
    status = <Ctrl-p> >feh %(file)

