"*":
  "autocomplete-plus":
    confirmCompletion: "tab"
    defaultProvider: "Symbol"
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "metrics"
      "spell-check"
      "autosave"
      "background-tips"
      "bookmarks"
      "language-objective-c"
      "language-csharp"
      "language-go"
      "archive-view"
      "language-clojure"
      "language-mustache"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "open-on-github"
      "welcome"
      "update-package-dependencies"
      "autoflow"
      "deprecation-cop"
      "exception-reporting"
      "language-coffee-script"
      "styleguide"
      "dev-live-reload"
      "package-generator"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 17
    invisibles: {}
    preferredLineLength: 70
    showIndentGuide: true
    showInvisibles: true
  minimap: {}
  "one-dark-ui": {}
  "spell-check": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    removeTrailingWhitespace: false
".html.jsp.text":
  editor:
    tabLength: 4
".java-properties.source":
  editor:
    tabLength: 4
".java.source":
  editor:
    tabLength: 4
".junit-test-report.text":
  editor:
    tabLength: 4
